*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(126, 27, 226);
}



.container{
    max-width: 800px;
    margin: 0 auto;
}

.main-header{
    background-color: white;
    height: 75px;
}

.buttons{
    margin-top: 25px;
    background-color: white;
    height: 50px;
    border-radius: 2px;
}

.nav{
  
}

.blue-button{
    color: white;
    background-color: blue;
    height: 30px;
    border-radius:2px;
}

.normal-button{
    height: 30px;
}

.banner-title{
    display: inline-block;
    border-radius: 2px;

}

.todolist{
    background-color: white;
    height: 400px;
    margin-top: 1px;
}